<div class='container'>
  <h2> Lets count some words! </h2>
  <form action='/word_frequency'>
    <input id='word' name='word'>
    <label for='word'> word </label>
    <input id='string' name='string'>
    <label for='string'> words </label>
    <button type='submit'> count </button>
  </form>
</div>
